@page "/login"
@inject HttpClient http;
@using Djvaleting.Shared.ViewModels;
@inject NavigationManager uriHelper;

<PageTitle>Admin Login</PageTitle>

<h1>Admin Login</h1>

<div class="card">
    <h4 class="card-header">Login</h4>
    <div class="card-body">
        <EditForm Model="@accountViewModel" OnValidSubmit="@HandleValidSubmit">
            <DataAnnotationsValidator />
            <div class="form-group">
                <label>Username</label>
                <InputText @bind-Value="accountViewModel.Username" class="form-control" />
                <ValidationMessage For="@(() => accountViewModel.Username)" />
            </div>
            <div class="form-group">
                <label>Password</label>
                <InputText @bind-Value="accountViewModel.Password" type="password" class="form-control" />
                <ValidationMessage For="@(() => accountViewModel.Password)" />
            </div>
            <br />
            <button class="btn btn-primary">
                Login
            </button>
        </EditForm>
    </div>
</div>

@code {
    public AccountViewModel accountViewModel = new  AccountViewModel();

    protected override async Task OnInitializedAsync()
    {

    }

    protected async Task HandleValidSubmit()
    {
        await http.PostAsJsonAsync("api/account", accountViewModel);
        uriHelper.NavigateTo("/adminhome");
    }
}
